force-app/main/default/flows/Account_Scheduled_Count_ClosedWon_Opp_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Update_ClosedWonOpp_Amount</name>
        <label>Update ClosedWonOpp Amount</label>
        <locationX>855</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>ClosedWonOppAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Opps.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opps</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account - Scheduled - Count ClosedWon Opp Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Scheduled - Count ClosedWon Opp Amount</label>
    <loops>
        <name>Loop_through_Opps</name>
        <label>Loop through Opps</label>
        <locationX>660</locationX>
        <locationY>451</locationY>
        <collectionReference>Get_Closed_Won_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_ClosedWonOpp_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Closed_Won_Opportunities</name>
        <label>Get Closed Won Opportunities</label>
        <locationX>662</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>659</locationX>
        <locationY>615</locationY>
        <inputAssignments>
            <field>Closed_Won_Opp_Amount__c</field>
            <value>
                <elementReference>ClosedWonOppAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Closed_Won_Opportunities</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-01-17</startDate>
            <startTime>09:50:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ClosedWonOppAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
