force-app/main/default/flows/Opportunity_Make_installation_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_High_to_NewCaseCollection</name>
        <label>Add High to NewCaseCollection</label>
        <locationX>264</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>NewCaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_filtered_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Low_to_NewCaseCollection</name>
        <label>Add Low to NewCaseCollection</label>
        <locationX>792</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>NewCaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_filtered_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Medium_to_NewCaseCollection</name>
        <label>Add Medium to NewCaseCollection</label>
        <locationX>528</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>NewCaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_filtered_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_High_Priority_Case</name>
        <label>Create High Priority Case</label>
        <locationX>264</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>SingleCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Priority Installation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please contact the customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_ReocordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_High_Priority_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_High_to_NewCaseCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_High_Priority_Case_0_0</name>
        <label>Create High Priority Case</label>
        <locationX>792</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>SingleCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low Priority Installation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please contact the customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_ReocordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medium_Low_Priority_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Low_to_NewCaseCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Medium_Priority_Case</name>
        <label>Create Medium Priority Case</label>
        <locationX>528</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>SingleCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium Priority Installation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please contact the customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_ReocordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medium_Low_Priority_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Medium_to_NewCaseCollection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_OLIs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter OLIs</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>currentItem_Filter_OLIs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_OLIs</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_OLIs.ProductCode</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>IN7080</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_OLIs.ProductCode</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>IN7060</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_OLIs.ProductCode</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>IN7040</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Case_ReocordId</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Priority</name>
        <label>Priority</label>
        <locationX>660</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Loop_through_filtered_OLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_filtered_OLIs.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN7080</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_High_Priority_Case</targetReference>
            </connector>
            <label>High</label>
        </rules>
        <rules>
            <name>Medium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_filtered_OLIs.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN7060</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Medium_Priority_Case</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
        <rules>
            <name>Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_filtered_OLIs.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN7040</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_High_Priority_Case_0_0</targetReference>
            </connector>
            <label>Low</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Make installation Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Make installation Cases</label>
    <loops>
        <name>Loop_through_filtered_OLIs</name>
        <label>Loop through filtered OLIs</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <collectionReference>Filter_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Priority</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cases_in_Bulk</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cases_in_Bulk</name>
        <label>Create Cases in Bulk</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <inputReference>NewCaseCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_ReocordId</name>
        <label>Get Case ReocordId</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_High_Priority_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_High_Priority_Queue_Id</name>
        <label>Get High Priority Queue Id</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Medium_Low_Priority_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High_Priority_Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medium_Low_Priority_Queue_Id</name>
        <label>Get Medium/Low Priority Queue Id</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_filtered_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medium_Low_Priority_Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OLIs</name>
        <label>Get OLIs</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OLIs</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_OLIs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NewCaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SingleCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
