force-app/main/default/flows/Opportunity_Screen_Refund_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Update_Amount</name>
        <label>Update Amount</label>
        <locationX>317</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>RefundAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_OLIs.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_OLIs.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Amount_0</name>
        <label>Update Amount</label>
        <locationX>669</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>RefundAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_OLIs_0.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_OLIs_0.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_OLIs_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Check</name>
        <choiceText>Check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Check</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreditCard</name>
        <choiceText>Credit Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreditCard</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoAddress</name>
        <choiceText>No, the customer wants to use a different address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoAddress</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesAddress</name>
        <choiceText>Yes, mailing address is correct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YesAddress</stringValue>
        </value>
    </choices>
    <constants>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br&gt;&lt;br&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Refund_Type</name>
        <label>Refund Type</label>
        <locationX>669</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RefundTypeSelection.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refund</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DirectRefundScreen</targetReference>
            </connector>
            <label>Refund</label>
        </rules>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RefundTypeSelection.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreditRefundScreen</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
        <rules>
            <name>Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RefundTypeSelection.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DuplicateRefundScreen</targetReference>
            </connector>
            <label>Duplicate</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContactChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RefundReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Refund_Reason__c</picklistField>
        <picklistObject>Refund__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RefundRequestSignedChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Refund_Request_Signed__c</picklistField>
        <picklistObject>Refund__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DirectRefundAddress</name>
        <dataType>String</dataType>
        <expression>IF({!Address_Verified} = &quot;Yes, mailing address is correct&quot;, 

{!Get_Account.ShippingStreet} +&quot; &quot;+ {!Get_Account.ShippingCity} +&quot; &quot;+ {!Get_Account.ShippingState} +&quot; &quot;+ {!Get_Account.ShippingPostalCode} +&quot; &quot;+ {!Get_Account.ShippingCountry},

{!RequestedRefundAddress.street} +&quot; &quot;+ {!RequestedRefundAddress.city} +&quot; &quot;+ {!RequestedRefundAddress.province} +&quot; &quot;+ {!RequestedRefundAddress.postalCode} +&quot; &quot;+ {!RequestedRefundAddress.country}
)</expression>
    </formulas>
    <interviewLabel>Opportunity - Screen - Refund Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Screen - Refund Request</label>
    <loops>
        <name>Loop_through_OLIs</name>
        <label>Loop through OLIs</label>
        <locationX>229</locationX>
        <locationY>830</locationY>
        <collectionReference>OLISelectionForDirectRefund.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Direct_Refund</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_OLIs_0</name>
        <label>Loop through OLIs</label>
        <locationX>581</locationX>
        <locationY>830</locationY>
        <collectionReference>OLISelectionForCreditRefund.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Amount_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Credit_Refund</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Refund</name>
        <label>Create Credit Refund</label>
        <locationX>574</locationX>
        <locationY>1063</locationY>
        <connector>
            <targetReference>CreditRefundAttachementScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>RefundAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactSelection2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>ProductNames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Credit For: {!Get_Opportunity.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Refund_Queue_1st.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Reason__c</field>
            <value>
                <elementReference>Refund_Reason_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </inputAssignments>
        <object>Refund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Direct_Refund</name>
        <label>Create Direct Refund</label>
        <locationX>223</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>DirectRefundAttachementScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>DirectRefundAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>RefundAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactSelection1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>ProductNames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Refund For: {!Get_Opportunity.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Refund_Queue_1st.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Reason__c</field>
            <value>
                <elementReference>Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </inputAssignments>
        <object>Refund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Duplicate_Refund</name>
        <label>Create Duplicate Refund</label>
        <locationX>846</locationX>
        <locationY>896</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Charge_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>DuplicateComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Four_of_CC__c</field>
            <value>
                <elementReference>Last_Four_Digits_of_Credit_Card</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Duplicate Charge For: {!Get_Opportunity.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Refund_Queue_1st.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Expedited</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Dupicate</stringValue>
            </value>
        </inputAssignments>
        <object>Refund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>669</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OLIs</name>
        <label>Get OLIs</label>
        <locationX>669</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Refund_Queue_1st</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>669</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Refund_Queue_1st</name>
        <label>Get Refund Queue 1st</label>
        <locationX>811</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RefundType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refund_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Credit_Refund</name>
        <label>Update Credit Refund</label>
        <locationX>575</locationX>
        <locationY>1361</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Credit_Refund</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Refund_Request_Signed__c</field>
            <value>
                <elementReference>Refund_Request_Signed_0</elementReference>
            </value>
        </inputAssignments>
        <object>Refund__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Refund</name>
        <label>Update Refund</label>
        <locationX>229</locationX>
        <locationY>1454</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Direct_Refund</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Refund_Request_Signed__c</field>
            <value>
                <elementReference>Refund_Request_Signed</elementReference>
            </value>
        </inputAssignments>
        <object>Refund__c</object>
    </recordUpdates>
    <screens>
        <name>CreditRefundAttachementScreen</name>
        <label>CreditRefundAttachementScreen</label>
        <locationX>575</locationX>
        <locationY>1211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Credit_Refund</targetReference>
        </connector>
        <fields>
            <name>Refund_Request_Signed_0</name>
            <choiceReferences>RefundRequestSignedChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Refund Request Signed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FileUpload_0</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Refund Request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>png.ext, jpg.ext, gif.ext, .pdf, .xlsx</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Credit_Refund</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreditRefundScreen</name>
        <label>CreditRefundScreen</label>
        <locationX>581</locationX>
        <locationY>722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_through_OLIs_0</targetReference>
        </connector>
        <fields>
            <name>OLISelectionForCreditRefund</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OpportunityLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_OLIs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Quantity,TotalPrice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:425, Quantity:425, TotalPrice:425</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CreditRefundScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreditRefundScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactSelection2</name>
                    <choiceReferences>ContactChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Refund Request By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreditRefundScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Refund_Reason_2</name>
                    <choiceReferences>RefundReason</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Refund Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Comments_0</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Any information related to the refund would be helpful here, especially information that may prevent the refund.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DirectRefundAttachementScreen</name>
        <label>DirectRefundAttachementScreen</label>
        <locationX>224</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Refund</targetReference>
        </connector>
        <fields>
            <name>Refund_Request_Signed</name>
            <choiceReferences>RefundRequestSignedChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Refund Request Signed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Refund Request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>png.ext, jpg.ext, gif.ext, .pdf, .xlsx</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Direct_Refund</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DirectRefundScreen</name>
        <label>DirectRefundScreen</label>
        <locationX>229</locationX>
        <locationY>722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_through_OLIs</targetReference>
        </connector>
        <fields>
            <name>OLISelectionForDirectRefund</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OpportunityLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_OLIs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Quantity,TotalPrice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:425, Quantity:425, TotalPrice:425</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DirectRefundScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DirectRefundScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactSelection1</name>
                    <choiceReferences>ContactChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Refund Request By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DirectRefundScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Refund_Reason</name>
                    <choiceReferences>RefundReason</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Refund Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Any information related to the refund would be helpful here, especially information that may prevent the refund.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Refund_Method</name>
            <choiceReferences>CreditCard</choiceReferences>
            <choiceReferences>Check</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Refund Method</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AddressFromAccount</name>
            <fieldText>&lt;p&gt;The account shipping address is:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Account.ShippingStreet}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account.ShippingCity} {!Get_Account.ShippingState}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account.ShippingPostalCode} {!Get_Account.ShippingCountry}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Is this the correct address?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Refund_Method</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Check</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Address_Verified</name>
            <choiceReferences>YesAddress</choiceReferences>
            <choiceReferences>NoAddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Address Verified</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Refund_Method</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Check</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RequestedRefundAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Address_Verified</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>NoAddress</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DuplicateRefundScreen</name>
        <label>DuplicateRefundScreen</label>
        <locationX>845</locationX>
        <locationY>722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Duplicate_Refund</targetReference>
        </connector>
        <fields>
            <name>DuplicateRefundScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DuplicateRefundScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Four_Digits_of_Credit_Card</name>
                    <dataType>Number</dataType>
                    <fieldText>Last Four Digits of Credit Card</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DuplicateRefundScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Charge_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Charge Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DuplicateComments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please provide any useful information regarding the transaction to be canceled such as the date, time, credit card, amount or any other identifying context.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RefundType</name>
        <label>RefundType</label>
        <locationX>671</locationX>
        <locationY>535</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refund_Type</targetReference>
        </connector>
        <fields>
            <name>RefundTypeSelection</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Refund&quot;,&quot;value&quot;:&quot;Refund&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Credit&quot;,&quot;value&quot;:&quot;Credit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Duplicate&quot;,&quot;value&quot;:&quot;Duplicate&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefundAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
