force-app/main/default/flows/Opportunity_Working_Send_Emails_Followup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_2_Days</name>
        <label>Send Email - 2 Days</label>
        <locationX>710</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Automation_Analytics_2_Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Find_Primary_Or_Oldest_Contact_2_Days.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Second_Email.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_4_Days</name>
        <label>Send Email - 4 Days</label>
        <locationX>1238</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Automation_Analytics_4_Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Find_Primary_Or_Oldest_Contact_4_Days.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Third_Email.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_6_Days</name>
        <label>Send Email - 6 Days</label>
        <locationX>1766</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Automation_Analytics_6_Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Find_Primary_Or_Oldest_Contact_6_Days.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Forth_Email.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_8_Days</name>
        <label>Send Email - 8 Days</label>
        <locationX>2294</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Automation_Analytics_8_Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Find_Primary_Or_Oldest_Contact_8_Days.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Fifth_Email.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Immediate_Email</name>
        <label>Send Immediate Email</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Automation_Analytics</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Find_Primary_Or_Oldest_Contact.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_First_Email.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Validate_Email</name>
        <label>Validate Email</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Send_Immediate_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Found</defaultConnectorLabel>
        <rules>
            <name>Email_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Primary_Or_Oldest_Contact.PrimaryOrOldestContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Email is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Email_2_Days</name>
        <label>Validate Email - 2 Days</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Send_Email_2_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Found</defaultConnectorLabel>
        <rules>
            <name>Both_Emails_Found_Null_2_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Primary_Or_Oldest_Contact_2_Days.PrimaryOrOldestContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Both Emails Found Null - 2 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Email_4_Days</name>
        <label>Validate Email - 4 Days</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Send_Email_4_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Found</defaultConnectorLabel>
        <rules>
            <name>Both_Emails_Found_Null_4_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Primary_Or_Oldest_Contact_4_Days.PrimaryOrOldestContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Both Emails Found Null - 4 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Email_6_Days</name>
        <label>Validate Email - 6 Days</label>
        <locationX>1634</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Send_Email_6_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Found</defaultConnectorLabel>
        <rules>
            <name>Both_Emails_Found_Null_6_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Primary_Or_Oldest_Contact_6_Days.PrimaryOrOldestContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Both Emails Found Null - 6 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Email_8_Days</name>
        <label>Validate Email - 8 Days</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Send_Email_8_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Found</defaultConnectorLabel>
        <rules>
            <name>Both_Emails_Found_Null_8_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Primary_Or_Oldest_Contact_8_Days.PrimaryOrOldestContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Both Emails Found Null - 8 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PrimaryOrOldestContactDay2</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(null) ,null ,null )</expression>
    </formulas>
    <formulas>
        <name>PrimaryOrOldestContactDay4</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(null) ,null ,null )</expression>
    </formulas>
    <formulas>
        <name>PrimaryOrOldestContactDay6</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(null) ,null ,null )</expression>
    </formulas>
    <formulas>
        <name>PrimaryOrOldestContactDay8</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(null) ,null ,null )</expression>
    </formulas>
    <formulas>
        <name>PrimaryOrOldestContactId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(null) ,null ,null )</expression>
    </formulas>
    <interviewLabel>Opportunity - Working Send Emails &amp; Followup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Working Send Emails &amp; Followup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Automation_Analytics</name>
        <label>Create Automation Analytics</label>
        <locationX>182</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Automation_Name__c</field>
            <value>
                <stringValue>Opportunity - Send Immediate Email and Followup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Saved__c</field>
            <value>
                <numberValue>0.083</numberValue>
            </value>
        </inputAssignments>
        <object>Automation_Analytics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Automation_Analytics_2_Days</name>
        <label>Create Automation Analytics - 2 Days</label>
        <locationX>710</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Automation_Name__c</field>
            <value>
                <stringValue>Opportunity - Send Immediate Email and Followup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Saved__c</field>
            <value>
                <numberValue>0.083</numberValue>
            </value>
        </inputAssignments>
        <object>Automation_Analytics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Automation_Analytics_4_Days</name>
        <label>Create Automation Analytics - 4 Days</label>
        <locationX>1238</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Automation_Name__c</field>
            <value>
                <stringValue>Opportunity - Send Immediate Email and Followup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Saved__c</field>
            <value>
                <numberValue>0.083</numberValue>
            </value>
        </inputAssignments>
        <object>Automation_Analytics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Automation_Analytics_6_Days</name>
        <label>Create Automation Analytics - 6 Days</label>
        <locationX>1766</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Automation_Name__c</field>
            <value>
                <stringValue>Opportunity - Send Immediate Email and Followup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Saved__c</field>
            <value>
                <numberValue>0.083</numberValue>
            </value>
        </inputAssignments>
        <object>Automation_Analytics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Automation_Analytics_8_Days</name>
        <label>Create Automation Analytics - 8 Days</label>
        <locationX>2294</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Automation_Name__c</field>
            <value>
                <stringValue>Opportunity - Send Immediate Email and Followup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Saved__c</field>
            <value>
                <numberValue>0.083</numberValue>
            </value>
        </inputAssignments>
        <object>Automation_Analytics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Fifth_Email</name>
        <label>Get Fifth Email</label>
        <locationX>2162</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Primary_Or_Oldest_Contact_8_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5 - Final Follow up Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Email</name>
        <label>Get First Email</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Primary_Or_Oldest_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X1_Immediate_Email_1719986639697</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Forth_Email</name>
        <label>Get Forth Email</label>
        <locationX>1634</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Primary_Or_Oldest_Contact_6_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4 - Third Follow up Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Second_Email</name>
        <label>Get Second Email</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Primary_Or_Oldest_Contact_2_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2 - First Follow up Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Third_Email</name>
        <label>Get Third Email</label>
        <locationX>1106</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Primary_Or_Oldest_Contact_4_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3 - Second Follow up Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Stage_to_Close_Lost</name>
        <label>Update Stage to Close Lost</label>
        <locationX>2558</locationX>
        <locationY>276</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_First_Email</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X2_Days_Later</name>
            <connector>
                <targetReference>Get_Second_Email</targetReference>
            </connector>
            <label>2 Days Later</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X4_Days_Later</name>
            <connector>
                <targetReference>Get_Third_Email</targetReference>
            </connector>
            <label>4 Days Later</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X6_Days_Later</name>
            <connector>
                <targetReference>Get_Forth_Email</targetReference>
            </connector>
            <label>6 Days Later</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X8_Days_Later</name>
            <connector>
                <targetReference>Get_Fifth_Email</targetReference>
            </connector>
            <label>8 Days Later</label>
            <offsetNumber>8</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Closed_Lost</name>
            <connector>
                <targetReference>Update_Stage_to_Close_Lost</targetReference>
            </connector>
            <label>Closed Lost</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Find_Primary_Or_Oldest_Contact</name>
        <label>Find Primary Or Oldest Contact</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Validate_Email</targetReference>
        </connector>
        <flowName>Subflow_Find_Primary_Or_Oldest_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Find_Primary_Or_Oldest_Contact_2_Days</name>
        <label>Find Primary Or Oldest Contact - 2 Days</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Validate_Email_2_Days</targetReference>
        </connector>
        <flowName>Subflow_Find_Primary_Or_Oldest_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Find_Primary_Or_Oldest_Contact_4_Days</name>
        <label>Find Primary Or Oldest Contact - 4 Days</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Validate_Email_4_Days</targetReference>
        </connector>
        <flowName>Subflow_Find_Primary_Or_Oldest_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Find_Primary_Or_Oldest_Contact_6_Days</name>
        <label>Find Primary Or Oldest Contact - 6 Days</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Validate_Email_6_Days</targetReference>
        </connector>
        <flowName>Subflow_Find_Primary_Or_Oldest_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Find_Primary_Or_Oldest_Contact_8_Days</name>
        <label>Find Primary Or Oldest Contact - 8 Days</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Validate_Email_8_Days</targetReference>
        </connector>
        <flowName>Subflow_Find_Primary_Or_Oldest_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
