force-app/main/default/flows/OrderFulfillmentFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssingnmentQuantityUpdate</name>
        <label>AssingnmentQuantityUpdate</label>
        <locationX>708</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>ProductRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordFromParents.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRecord.Quantity_in_Stock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityRestockUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateQuantity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ApprovedOnLessThan</name>
        <label>ApprovedOnLessThan</label>
        <locationX>837</locationX>
        <locationY>491</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ApprovedOnLessThan100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity_Restocked__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssingnmentQuantityUpdate</targetReference>
            </connector>
            <label>ApprovedOnLessThan100</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>QuantityRestockUpdate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity_Restocked__c}+{!GetRecordFromParents.Quantity_in_Stock__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>OrderFulfillmentFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OrderFulfillmentFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecordFromParents</name>
        <label>GetRecordFromParents</label>
        <locationX>840</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApprovedOnLessThan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity_in_Stock__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateQuantity</name>
        <label>UpdateQuantity</label>
        <locationX>572</locationX>
        <locationY>672</locationY>
        <inputReference>ProductRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetRecordFromParents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity_Restocked__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Restock_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>RestockProduct__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>RestockQuantities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
