force-app/main/default/flows/Screen_Contact_Finder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>473</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>ContactCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Matching_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Values</name>
        <label>Assign Contact Values</label>
        <locationX>627</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>SingleContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Matching_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobilePhone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoUpdate</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoUpdate</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesUpdate</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YesUpdate</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Matching_Contacts_Found</name>
        <label>Matching Contacts Found?</label>
        <locationX>314</locationX>
        <locationY>308</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Matching_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenFour</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_to_Update_Contact</name>
        <label>Want to Update Contact?</label>
        <locationX>823</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Matching_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesUpdateContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_update_this_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Three</targetReference>
            </connector>
            <label>YesUpdateContact</label>
        </rules>
        <rules>
            <name>NoUpdateContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_update_this_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Matching_Contacts</targetReference>
            </connector>
            <label>NoUpdateContact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen - Contact Finder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Contact Finder</label>
    <loops>
        <name>Loop_Through_Matching_Contacts</name>
        <label>Loop Through Matching Contacts</label>
        <locationX>438</locationX>
        <locationY>310</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ScreenTwo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_in_Salesforce</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>237</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>ScreenFive</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birthdate2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name2</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>219</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_Contacts_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthdate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_in_Salesforce</name>
        <label>Update Contact in Salesforce</label>
        <locationX>371</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>ScreenSix</targetReference>
        </connector>
        <inputReference>ContactCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_Three</name>
        <label>Screen Three</label>
        <locationX>831</locationX>
        <locationY>525</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Contact_Values</targetReference>
        </connector>
        <fields>
            <name>DisplayTextThree</name>
            <fieldText>&lt;p&gt;Please update the mobile phone number below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MobilePhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>Loop_Through_Matching_Contacts.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenFive</name>
        <label>ScreenFive</label>
        <locationX>240</locationX>
        <locationY>738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTextFive</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Your contact was successfully created!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenFour</name>
        <label>ScreenFour</label>
        <locationX>237</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Contact</targetReference>
        </connector>
        <fields>
            <name>DisplayTextFour</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;No contact was found! Please enter a first name, last name, and birthdate below to create a new contact. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name2</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name2</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Birthdate2</name>
            <dataType>Date</dataType>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenOne</name>
        <label>ScreenOne</label>
        <locationX>220</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <fields>
            <name>DisplayTextOne</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please enter first name, last name, and birthday a contact below:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenOne_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenOne_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Birthdate</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenOne_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSix</name>
        <label>ScreenSix</label>
        <locationX>371</locationX>
        <locationY>731</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTextSix</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Your contacts have been updated!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenTwo</name>
        <label>ScreenTwo</label>
        <locationX>620</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Want_to_Update_Contact</targetReference>
        </connector>
        <fields>
            <name>DisplayTextTwo</name>
            <fieldText>&lt;p&gt;We found matching contacts inside Salesforce:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The information is below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;First Name: {!Loop_Through_Matching_Contacts.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Last Name: &lt;/p&gt;&lt;p&gt;{!Loop_Through_Matching_Contacts.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Birthdate:&lt;/p&gt;&lt;p&gt;{!Loop_Through_Matching_Contacts.Birthdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_update_this_contact</name>
            <choiceReferences>YesUpdate</choiceReferences>
            <choiceReferences>NoUpdate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to update this contact?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>94</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>ScreenOne</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SingleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
